body {
    background-color: #e9e5e5;
    margin: 0;
}

a,
h5 {
    text-decoration: none;
    color: black;
}

.react-tel-input .form-control {
    background-color: transparent;
    height: 53px;
    width: 100%;
}